.App {
  justify-items: center;
  background-color: #8AB07E;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.HeaderText{
  font-size: 30px;
  color: white;
}

.Table{ 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
}